html,
.custom-scrollbar,
textarea,
pre,
code,
.overflow-y-auto,
.overflow-auto {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--thumb-color) transparent;
}

html::-webkit-scrollbar,
.custom-scrollbar::-webkit-scrollbar,
textarea::-webkit-scrollbar,
pre::-webkit-scrollbar,
code::-webkit-scrollbar,
.overflow-y-auto::-webkit-scrollbar,
.overflow-auto::-webkit-scrollbar {
  width: 12px;
}

html::-webkit-scrollbar-track,
.custom-scrollbar::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track,
pre::-webkit-scrollbar-track,
code::-webkit-scrollbar-track,
.overflow-y-auto::-webkit-scrollbar-track,
.overflow-auto::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 20px;
}

html::-webkit-scrollbar-thumb,
.custom-scrollbar::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb,
pre::-webkit-scrollbar-thumb,
code::-webkit-scrollbar-thumb,
.overflow-y-auto::-webkit-scrollbar-thumb,
.overflow-auto::-webkit-scrollbar-thumb {
  background: var(--thumb-color);
  border-radius: 20px;
  border: 2px solid transparent;
  background-clip: content-box;
}

html::-webkit-scrollbar-thumb:hover,
.custom-scrollbar::-webkit-scrollbar-thumb:hover,
textarea::-webkit-scrollbar-thumb:hover,
pre::-webkit-scrollbar-thumb:hover,
code::-webkit-scrollbar-thumb:hover,
.overflow-y-auto::-webkit-scrollbar-thumb:hover,
.overflow-auto::-webkit-scrollbar-thumb:hover {
  background: var(--thumb-hover-color);
  background-clip: content-box;
}
